<div id="body">
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>Welcome to the Services Page of our Fez Spider Project!</h1>
            </hgroup>
            <p>
                This project aim to explore the possibilities of the 'Internet of Things'.
                In this case of study we tryed to create an automatic reception using a web server and a 'Fez Spider' motherboard with some hardware components, in particular a photocamera.
            </p>
            <p>
                Our choice for the services that the server have to offer was to use the Web API, for their flexibility and ease of use.
                To learn more about Our ASP.NET Web API go to:
                <a href="http://filippo-pc/Help">API</a>.
         
            </p>
        </div>
    </section>
    <section class="content-wrapper main-content clear-fix">
        <center>
             <img src="~/Images/FezProject.jpg" />
        </center>
       
        <!--<h3>We suggest the following steps:</h3>
        <ol class="round">
            <li class="one">
                <h5>Getting Started</h5>
                ASP.NET Web API is a framework that makes it easy to build HTTP services that reach
                a broad range of clients, including browsers and mobile devices. ASP.NET Web API
                is an ideal platform for building RESTful applications on the .NET Framework.
                <a href="http://go.microsoft.com/fwlink/?LinkId=245160">Learn more…</a>
            </li>

            <li class="two">
                <h5>Add NuGet packages and jump-start your coding</h5>
                NuGet makes it easy to install and update free libraries and tools.
                <a href="http://go.microsoft.com/fwlink/?LinkId=245161">Learn more…</a>
            </li>
            <li class="three">
                <h5>Find Web Hosting</h5>
                You can easily find a web hosting company that offers the right mix of features
                and price for your applications.
                <a href="http://go.microsoft.com/fwlink/?LinkId=245164">Learn more…</a>
            </li>
        </ol>-->
    </section>
</div>
